@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

/* ====== Header ====== */

/* --- Navbar --- */

#navbar {
    padding: 10px 5%;
    background-color: #383c44;
}

.container-fluid .navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.navbar-nav {
    margin-left: auto;
}

.navbar .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #70827b;
}

.navbar .navbar-nav .nav-link:hover,
#nav-link-green:hover {
    color: rgb(235, 213, 16);
}

#nav-link-green {
    color: #81c53d;
}

/* ---Carousel--- */

.carousel-item {
    position: relative;
}

.imagen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.card-img-overlay {
    z-index: 1;
    margin-right: 5%;
    width: 55%;

}

.card-img-overlay .card-title,
.card-img-overlay .card-text,
.card-img-overlay .btn {
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}

.card-img-overlay .card-text,
.card-img-overlay .btn {
    font-size: 1.2rem;
}

.card-img-overlay div .btn {
    margin: 15px 0 0 15px;
}


/* ====== MAIN ====== */


/* --- Section2 --- */

.oradores-title {
    text-align: center;
}

#section2 {
    margin: 25px auto;
    width: 85%;
}

.sombra {
    box-shadow: 2px 13px 30px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 2px 13px 30px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 2px 13px 30px 0px rgba(0, 0, 0, 0.37);
}

.sombra:hover {
    box-shadow: 2px 13px 30px 13px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 2px 13px 30px 13px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 2px 13px 30px 13px rgba(0, 0, 0, 0.37);
}


/* --- Section3 --- */

#section3 {
    margin-top: 40px;
}

.section3-tex {
    background-color: #364354;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #ffffff;
}

/* --- Section4 --- */

#section4 {
    margin-top: 40px;
}

.container-form {
    margin: auto;
    width: 50%;
}

.form-text {
    display: flex;
}

.container-form #nombre,
#apellido {
    width: 50%
}

.container-form #nombre {
    margin-right: 5%;
}




/* ====== FOOTER ====== */

footer {
    margin-top: 50px;
    background-color: #224a62;
}

.footer-row {
    padding-left: 10%;
    align-content: center;
    margin: 0 auto;
    justify-content: space-around;
}

.footer-row div ul li {
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-row div ul li a {
    color: #b0b8b5;
    text-decoration: none;
}


.footer-row div ul li a:hover {
    color: rgb(235, 213, 16);
}

.white-line {
    height: 1px;
    background-color: #ffffff;
    margin: 15px auto 5px;
    width: 80%;

}