@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
}

/* ====== Header ====== */

/* --- Navbar --- */

#navbar {
    padding: 10px 5%;
    background-color: #383c44;
}

.container-fluid .navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.navbar-nav {
    margin-left: auto;
}

.navbar .navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #70827b;
}

.navbar .navbar-nav .nav-link:hover,
#nav-link-green:hover {
    color: rgb(235, 213, 16);
}

#nav-link-green {
    color: #81c53d;
}

/* ---Carousel--- */


/* .carousel-item .imagen-overlay .d-block {
    width: 300px;
    height: 400px;
} */

.carousel-item {
    position: relative;
}

.imagen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.card-img-overlay {
    z-index: 1;
    margin-right: 5%;
    width: 55%;

}

.card-img-overlay .card-title,
.card-img-overlay .card-text,
.card-img-overlay .btn {
    margin-bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
}

.card-img-overlay .card-text,
.card-img-overlay .btn {
    font-size: 1.2rem;
}

.card-img-overlay div .btn {
    margin: 15px 0 0 15px;
}


/* ====== MAIN ====== */


/* --- sectionOradores --- */

.oradores-title {
    text-align: center;
}

#sectionOradores {
    margin: 25px auto;
    width: 85%;
}

.sombra {
    box-shadow: 2px 13px 30px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 2px 13px 30px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 2px 13px 30px 0px rgba(0, 0, 0, 0.37);
}

.sombra:hover {
    box-shadow: 2px 13px 30px 13px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 2px 13px 30px 13px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 2px 13px 30px 13px rgba(0, 0, 0, 0.37);
}


/* --- sectionLugFech --- */

#sectionLugFech {
    margin-top: 40px;
}

.section3-tex {
    background-color: #364354;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: #ffffff;
}

/* --- sectionForm --- */

#sectionForm {
    margin-top: 40px;
}

.container-form {
    margin: auto;
    width: 50%;
}

.form-text {
    display: flex;
}

.container-form #nombre,
#apellido {
    width: 50%
}

.container-form #nombre {
    margin-right: 5%;
}




/* ====== FOOTER ====== */

footer {
    margin-top: 50px;
    background-color: #224a62;
}

.footer-row {
    padding-left: 10%;
    align-content: center;
    margin: 0 auto;
    justify-content: space-around;
}

.footer-row div ul li {
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-row div ul li a {
    color: #b0b8b5;
    text-decoration: none;
}


.footer-row div ul li a:hover {
    color: rgb(235, 213, 16);
}

.white-line {
    height: 1px;
    background-color: #ffffff;
    margin: 15px auto 5px;
    width: 80%;

}





/* ====== RESPONSIVE ====== */

@media (max-width: 1200px) {

    .container-fluid .navbar-brand {
        font-size: 0;
    }
}


@media (max-width: 991px) {


    /* ---Carousel--- */

    #imgCarousel{
        object-fit: cover;
        width: 100%;
        height: 500px;

    }

    .carousel .card-img-overlay {
        width: 95%;
        margin: auto;
        justify-content: end;
        display: block;

    }

    .card-img-overlay .card-text,
    .card-img-overlay .btn {
        font-size: 1rem;
    }

    /* --- sectionOradores --- */

    .row .col .card{
        width: 100%;
    }



    /* sectionLugFech */

    .row .col-md-6 .img-fluid{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }



    /* --- sectionForm --- */

    .container-form {
        margin: auto;
        width: 90%;
    }

    .form-text {
        display: block;
    }

    .container-form #nombre,
    #apellido {
        width: 100%
    }
    
    .container-form #nombre {
        margin-bottom: 15px;
    }


}

@media (max-width: 768px) {

    /* ---Carousel--- */

    #carouselExampleSlidesOnly .carousel-inner .card-img-overlay {
        justify-content: end;
        margin-top: 100px;
    }


    /* --- sectionOradores --- */

    #sectionOradores {
        margin-top: 25px;
        width: 95%;
    }

}



